input[type=checkbox] {
  display: none;

  // Checkbox label
  + label {
    cursor: pointer;
    color: $menuPrimaryTextColor;

    padding-top: 2px;

    font-size: 14px;

    &:before {
      @extend %checkbox;
    }

    &:hover {
      color: $menuSecondaryTextColor;

      &:before {
        background: #888;
      }
    }
  }

  &:checked, &.#{$_}checked {
    // Checked checkbox label
    + label {
      color: $menuSecondaryTextColor;

      &:before {
        @extend %checkbox;
        background: $red;
      }
    }
  }
}