/**
 * Search input style
*/
input[type=search] {
  color: $menuPrimaryTextColor;
  background: $black image-url('aeris-icon/search.png') no-repeat 8px;
  text-indent: 30px;

  @include border-radius(0);
  border: 1px solid #414141;

  font: $menuFontFamily;

  @include placeholder {
    color: $menuPrimaryTextColor;
  }

  &:active, &:focus {
    @include appearance(none);
    @include box-shadow(none);
    outline: none;
  }
}