@mixin setAddressStyles {
  @include setInfoPanelStyles {
    .#{$_}address {
      @content;
    }
  }
}



@include setInfoPanelStyles {
  color: $primaryDarkTextColor;
  font-size: 14px;
  line-height: 1.25em;
}