# standard gitignore
.idea/
.idea/*
.DS_STORE
*.log

# Sandbox
examples/sandbox/

# environment specific files
examples/apikeys.js

# SASS
.sass-cache
src/themes/css/

build/

# Generated YUIDoc documentation
docs/public/
docs/api/
docs/assets/css/

# Generated SpecRunners
tests/specrunner.html
tests/specrunner-*.html

# Ignore symlink'd bower component
bower_components/aerisjs