<div class="aeris-content">
  <div class="aeris-locator">
    <span class="aeris-geolocateControlsRegion"></span>
    <span class="aeris-geocodeRegion"></span>
  </div>

  <div class="aeris-menu">
    <div class="aeris-menu-group  aeris-layerControlsRegion"></div>

    <div class="aeris-menu aeris-markerControlsRegion"></div>
  </div>

  <div class="aeris-routeBuilderControls"></div>
</div>

<footer>
  <ul>
    <li class="aeris-fullscreenControlsRegion"></li>
  </ul>
</footer>