<div class="aeris-content">
  <div class="aeris-locator">
    <span class="aeris-geolocateControlsRegion"></span>
    <span class="aeris-geocodeRegion"></span>
  </div>

  <div class="aeris-timeline-region">
    <button><i class="aeris-icon-play"></i></button>

    <div class="aeris-timeline-container">
      <div class="aeris-timeline"></div>
    </div>

  </div>

  <div class="aeris-menu">
    <div class="aeris-menu-group  aeris-layerControlsRegion"></div>

    <div class="aeris-menu aeris-markerControlsRegion"></div>
  </div>

  <div class="aeris-routeBuilderControls"></div>
</div>

<footer>
  <ul>
    <li class="aeris-fullscreenControlsRegion"></li>
    <li class="aeris-tipsControls">
      <a href="#">
        <span class="aeris-icon-info"></span>
        <span>Tips</span>
      </a>
    </li>
  </ul>
</footer>