/**
 * Styles to apply to elements outside of the
 * aeris application container
 */
.#{$_}grabbing {
  @include cursorGrabbing;
}
.#{$_}grab {
  @include cursorGrab;
}

// Override all other cursor styles
// when .grabbing is applied to the body.
body.#{$_}grabbing {
  cursor: grabbing !important;
  cursor: -moz-grabbing !important;
  cursor: -webkit-grabbing !important;
}
