/**
 * Layout styles.
*/

$mapControlsWidth: 250px;

.#{$_}mapControlsRegion {
  position: relative;
  float: left;

  width: $mapControlsWidth;
  height: 100%;
}

.#{$_}mapContainer {
  position: relative;
  height: 100%;
  margin-left: $mapControlsWidth;
}


.#{$_}column {
  @include box-sizing(border-box);
  float: left;
  width: 50%;
}