@import "base/typography/colors";
@import "base/colors";

%textOnRedBg {
  background-color: $red;
  color: $menuPrimaryTextColor;
}

%textOnDarkBg {
  background-color: $black;
  color: $menuPrimaryTextColor;
}