.#{$_}slider {
  position: relative;
  @include pie-clearfix;

  .#{$_}slider-label {
    float: left;
    width: 20%;
    line-height: 20px;
    font-size: 12px;
    color: lighten($menuPrimaryTextColor, 10%);
  }

  .#{$_}slider-component {
    position: relative;
    float: right;
    width: 70%;
    height: 20px;
    z-index: 10;
    margin-right: 5%;
  }

  .#{$_}slider-point {
    @include cursorGrab;
    top: 2px;
    left: 0;

    &.#{$_}grabbing {
      @include cursorGrabbing;
    }
  }


  &.#{$_}slider-step {
    .#{$_}slider-point {
      @include transition(left .2s $easeOutQuad);
    }
  }


  // Set component z-index
  .#{$_}slider-component {
    .#{$_}slider-point { z-index: 2; }
    .#{$_}slider-bar { z-index: 1; }
    .#{$_}tooltip { z-index: 1; }
  }
}